*{
    margin: 0;
    padding: 0;
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(-20deg, blue, rgb(209, 120, 190));
    width: 100%;
    margin: 0;
}

footer{
    background: #ffffff;;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
    padding-left: 1%;
    width: 100%;
    margin-top: 330px;
}
.container div{
     display: flex;
     justify-content: space-between;
     box-sizing: border-box;
 }  
.container div button {
    padding:5px 30px;
    margin-bottom: 25px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 5px;

}

.card {
    margin-left: 35%;
    margin-top: 4%;
    padding-top: 18px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6%;
    height: 200px;
    width: 30%;
    height: 30% ;
}



div .row{
    margin-bottom: 15px;
    margin-top: -15px;
    width: 110%;
    
}

.resultado1{
    margin-bottom: 200px;
    width: 100%;
    
    
}

.btn-secondary{
    margin-bottom: 0px;
    padding: 20px 20px;
    background-color: #dbd4d4;
    border-color: #dbd4d4;
    color: #635b5b;
    width: 100%;
}   

input{
    border-style: ridge;
    border-color: #e8ebef;
    width: 100%;
}

h5 {
    width: 100%;
    
}

@media screen and (max-width: 480px){
    .card{
        width: 264px;
        height: 200px;
        margin-left: 50px;
        margin-top: 70px;
    }
    .btn-secondary{
        width: 240px;
        margin-top: -20px;
        height: 50px;
        margin-left: -20px;
        
    }

    footer{
        margin-top: 280px;
        
    }

    .container div button{
        width: 20px;
    
    }
    .container div button {
        padding:4px 20px;
        margin-bottom: 25px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 5px;
        box-sizing: border-box;
    }
    .container div button {
        padding:4px 22px;
        margin-bottom: 30px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 10px;
        box-sizing: border-box;
    
    
    }
    
    

}

@media screen and (min-width: 480px) and (max-width: 780px) {
    .card{
        width: 300px;
        height: 200px;
        margin-left: 140px;
        margin-top: 32px;
    }
    .btn-secondary{
        width: 240px;
        margin-top: -20px;
        height: 50px;
        padding: 20px;
        
    }
    .container div button {
        padding:4px 22px;
        margin-bottom: 25px;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 5px;
        box-sizing: border-box;
    
    
    }

    .container div button{
        width: 20px;
    }
    .{
        scroll-padding-top: 20px;
    }
    
}

@media screen and (min-width: 780px) and (max-width: 1020px){
    .card{
        width: 600px;
        height: 260px;
        margin-left: 145px;
    }
    .btn-secondary{
        width: 440px;
        margin-top: 0px;
        height: 100px;
    }
    .container div button{
        width: 80px;
        height: 45px;
    }
    footer {

    }
    


}